/*Base Styles*/

/*
These styles are intended to put back in some of the expected
formatting of common tags. They are replicated in screen.css
and print.css.
*/

/* Bold on headings, b, and strong */
h1,h2,h3,h4,h5,h6,b,strong { font-weight: bold; }
/*Re-add italic to i, em, and cite.*/
i,em,cite { font-style: italic; }
/* Dotted border and help cursor to abbr and acronym: */
abbr,acronym { border-bottom: 1px dotted; cursor: help; }

html.invert {
	background-color: #333;
}

/* Body */

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: normal; 
  font-size: 100%;
  color: #333;
  /*background-color: #D8D8D8;*/
}

body#body-invert {
	color: #FFFFFF;
}

/* Major Divisions */

/* Page (Containing Div) */

div#page {
	width: 960px;
	margin-top: 22px; 
	margin-left: 75px;
	/*background-color: #E8E8E8;*/
}

div#page-invert {
	width: 960px;
	color: #FFFFFF;
	padding-top: 22px; 
	padding-left: 75px;
}

div#page-detail {
	margin-top: 40px;
	margin-left: 80px;
	width: 600px;
}


/* Header */

div#header ul.accessibility {
  position: absolute;
  left: -10000px;
}

h1 {
  font-size: 4.25em; /* 51pt / 12pt */
  color: #333;
  margin-right: 1px;
  float: left;
  /*background-color: #E8E8E8;*/
}

h1 a:link {
 color: #333;
}

h1 a:visited {
  color: #333;
}

h1 a:hover {
	text-decoration: none;
}

div#page-invert h1 a:link {
 color: #FFFFFF;
}

div#page-invert h1 a:visited {
  color: #FFFFFF;
}

/* Content */

div#content {
	margin-top: 20px;
}


/* Headers */
 
h2 {
  margin-left: 4px; 
  font-size: 2.5em;  /* 30pt / 12pt */
}

h2 a:link {
	color: #333;
}

h2 a:visited {
	color: #333;
}

h2 a:hover {
	text-decoration: none;
}

div#page-invert h2 a:link {
	color: #FFFFFF;
}

div#page-invert h2 a:visited {
	color: #FFFFFF;
}

body#body-invert h2 {
	color: #FFFFFF;
}

h3 {
  margin-top: 27px; /* align with n-bottom of first line of side nav */
  font-size: 1.5em; /* 18pt / 12pt */
}

h3#martini-h3 {
	float: left;
}

h3#design {
	margin-bottom: 20px;
}

h4.portfolio {
  margin-left: 300px;
  margin-bottom: 15px;
  margin-top: 37px;
}


/* Divs */

div#inset {
  margin-left: 295px;
  padding-bottom: 500px;
 /*background-color: #F8F8F8;*/
}

div#cover {
  width: 680px;
  margin-left: 260px;
  padding-right: 200px;
  padding-bottom: 500px;
}

div#constrain-text {
	width: 576px;
}

div#go-back {
  float: right;
}

div#row-one {
	margin-left: 77px;
}

div#wf-section {
	width: 600px;
	height: 505px;
	margin-top: 10px;
}

div.wf-icon {
	float: left;
}

div#first-icon {
	margin-top: 10px;
	margin-right: 40px;
}

div#right-wf-icon {
	margin-top: 10px;
	margin-left: 25px;
}

div#bottom-wf-icon {
	clear: both;
	margin-top: 20px;
}

div#about-main {
	margin-top: 15px;
}

div#about-one {
	margin-top: 20px;
	margin-left: 20px;
	width: 600px;

}

div#about-one p {
	float: left;
	font-size: 12pt;
	margin-bottom: 10px;
	line-height: 1.0;
	color: #333;
}

div#about-one h3 {
	color: #333;
}



/* Images */

img#kas {
	border: 1px solid #333;
	margin-top: 15px;
  margin-left: 1px;
  margin-bottom: 20px;
  width: 576px;
  height: 376px;
}

img#connected {
  border: 1px solid #333;
  margin-top: 15px;
  margin-left: 1px;
  margin-bottom: 20px;
  width: 576px;
	height: 310px;
}

img#chicagowiki {
	width: 576px;
	height: 352px;
	border: 1px solid #333;
	margin-top: 15px;
  margin-left: 1px;
  margin-bottom: 20px;
}

img#martini {
  position: relative;
  border: 1px solid #333;
  width: 510px;
  height: 496px;
  top: 15px;
	right: 78px;
  margin-bottom: 31px; /* creates a 25px gap between bottom of image and following paragraph */
  clear: both;
}

img#martini-invert {
	position: relative;
  border: 1px solid #FFFFFF;
  width: 510px;
  height: 496px;
  top: 15px;
  right: 78px;
  margin-bottom: 33px; /* creates a 25px gap between bottom of image and following paragraph */
  clear: both;
}

img#detail {
	height: 714px;
  width: 270px;
  border-left: 1px solid #A0A0A0;
  border-bottom: 1px solid #A0A0A0;
}

img#back {
  margin-top: 15px;
  margin-left: 1px;
  margin-bottom: 20px;
  width: 128px;
  height: 83px;
}

img.icon {
	margin: 40px;
}

img#big-switch {
	float: right;
	margin-top: 10px;
	margin-right: 20px;
	width: 28px;
	height: 48px;
}

img#switch {
	float: right;
	margin-top: 26px; /*align with bottom edge of h3*/
	margin-right: 153px;
	width: 46px;
	height: 21px;
}

img#wireframe-mini {
	border: 1px solid #B0B0B0;
	width: 192px;
	height: 122px;
}

img#kas-mini {
	position: absolute;
	width: 192px;
	height: 122px;
	border: 1px solid #B0B0B0;
}

img#chicagowiki-mini {
	width: 192px;
	height: 118px;
	clear: both;
	border: 1px solid #B0B0B0;
}

img#connected-mini {
  border-top: 1px solid #B0B0B0;
  border-left: 1px solid #B0B0B0;
  border-bottom: 1px solid #B0B0B0;
  width: 73px;
  height: 192px;
	position: absolute;
}

img#martini-mini {
  margin-left: 194px;
  width: 192px;
  height: 188px;
	position: absolute;
	border: 1px solid #B0B0B0;
}

img#first-wf-icon {
	border: 1px solid #B0B0B0;
	width: 240px;
	height: 153px;
	float: left;
}

img.wireframe-page-bottom {
	width: 240px;
	height: 153px;
	clear: both;
	border: 1px solid #B0B0B0;
	margin-top: 40px;
}

img#second-wf-icon {
	border: 1px solid #B0B0B0;
	width: 240px;
	height: 153px;
	float: right;
}

img#third-wf-icon {
	border: 1px solid #B0B0B0;
	width: 240px;
	height: 153px;
	margin-top: 20px;
	margin-right: 40px;
	float: right;
}


/* Paragraph */

p {
	font-size: .91666666666667em; /* 11pt / 12pt */
	line-height: 1.25;
}

p#contact {
	margin-top: 40px;
	margin-left: 25px;
	font-size: 2em; /* 24pt / 12pt */
}

p.portfolio-two {
  margin-top: 10px;
  line-height: 1.25;
}

p#back-text {
  font-size: 1.33333333333333em; /* 16pt / 12pt */
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
  color: #333;
}

p.wf-title {
	font-weight: bold;
	font-size: 16pt;
	padding-top: 10px;
	clear: both;
}

p#wf-text {
}

/* Links */

body#invert a:link  {
	color: #FFFFFF;
	text-decoration: none;
}

body#invert a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

body#invert a:hover {
	color: #FFFFFF;
	text-decoration: none;
}


/*Content Typography: Links*/	 

a {
	text-decoration:none;
}
	
a:hover {
  text-decoration:underline;
}

a.link-underline {
	color: #333;
	text-decoration: underline;
}

div#page-invert a:link {
	color: #FFFFFF;
}

div#page-invert a:visited {
	color: #FFFFFF;
}

/*Lists*/

ul#about {
	margin-top: 30px;
	margin-left: 40px;
}

ul#about li {
	list-style-type: disc;
	font-size: 14pt;
	line-height: 2.0;
	color: #333;
}

ul#about li#break {
	line-height: 1.5;
	margin-top: 5px;
}

ul#about-invert {
	margin-top: 30px;
	margin-left: 40px;
}

ul#about-invert li {
	list-style-type: disc;
	font-size: 14pt;
	line-height: 2.0;
	color: #FFFFFF;
}

ul.communication {
	margin-left: 15px;
	float: left;
}

ul.communication li{
	list-style-type: disc;
	margin-bottom: 10px;
}


/*Navigation*/

/*Main Navigation, float, auto width*/
ul#navigation-main {
	overflow: hidden; /*Necessary style for best handling floats*/
  clear: both;
  margin-left: 5px;
  /*background-color: #F8F8F8;*/
}

ul#navigation-main li {
  float: left; /*Float items to the left*/
  display: inline; /*Fix a float issue in older IE browsers*/
  font-size: 1.33333333333333em; /* 16pt / 12pt */
  margin-right: 5px; /*Put some space between items*/
}

ul#navigation-main li a {
	display: block; /*Maximize clickable area*/
	margin-right: 5px;
	padding: 25px 20px 25px 20px;
	text-decoration: none;
	color: #333;
}

ul#navigation-side {
  line-height: 2.0;
  position: absolute;
  margin-top: 25px;
  margin-left: 20px;
 /*background-color: #F8F8F8;*/
}

ul#navigation-side li a {
  text-decoration: none;
  color: #333;
}

ul.wf-icon-nav {
	line-height: 1.5;
	margin-left: 20px;
	font-size: 11pt;
}

ul.wf-icon-nav li {
  list-style-type: disc;
	color: #333;
	text-decoration: underline;
}

ul.wf-icon-nav li a {
	text-decoration: none;
  color: #333;
}

ul.wf-icon-nav li a:hover {
  color: blue;
}

ul.wf-icon-nav li a:visited {
	text-decoration: underline;
  color: #333;
}

