/*Base Styles*/

/*
These styles are intended to put back in some of the expected
formatting of common tags. They are replicated in screen.css
and print.css.
Although you can add more here and load base.css in your XHTML,
you might consider just adding any additional base styles to
your own screen.css and/or print.css files.
*/

/*Re-add bold to headings, b, and strong*/
h1,h2,h3,h4,h5,h6,b,strong { font-weight: bold; }
/*Re-add italic to i, em, and cite.*/
i,em,cite { font-style: italic; }
/*Re-add dotted border and help cursor to abbr and acronym*/
abbr,acronym { border-bottom: 1px dotted; cursor: help; }

div#page {
 padding-left: 80px;
}

body {
 font-family: Helvetica, Arial, sans-serif;
 background-image: url('gfx/jpg');
 line-height: 1;
}
	 
a {
 text-decoration:none;
}
	
a:hover {
 text-decoration:underline;
}

h1 {
 font-size: 75pt; 
 margin-bottom: 20px;
 margin-top: 5px; 
 text-decoration: none;
 color: black;
}

h1 a:link {
 color: black;
}

h1 a:visited {
 color: black;
 text-decoration: none;
}

h1 a:hover {
 text-decoration: none;
}
 
h2 {
 margin-top: 75px; 
 margin-bottom: 20px;
 margin-left: 0px;
 font-size: 32pt;
}

h3.resume {
 font-size: 18pt;
 margin-left: 300px;
 margin-top: 37px;
 margin-bottom: 20px;
}

ul {
 margin-bottom: 0px;
}

ul#contact-info {
}

ul#navigation-main {
}

ul#navigation-main li {
 float: left;
 font-size: 16pt;
 
}

ul#navigation-main li a {
	display: inline;
	margin-right: 5px;
	padding: 32px 20px 12px 20px;
	border-bottom: 1pt;
	text-decoration: none;
	color: black;
}

ul#navigation-side {
 position: absolute;
 margin-top: 150px;
 margin-bottom: 50px;
 line-height: 2.0;
 padding-left: 20px;
 text-decoration: none;
 display: inline-block;
}

ul#navigation-side li a {
list-style-type: none;
text-decoration: none;
color: black;
}

ul.details {
 padding-left: 20px;
 margin-bottom: 20px;
}

ul.details li {
 list-style-type: disc;
}

ul.details-spacing {
 margin-bottom: 10px;
}

ul.item-spacing {
 margin-bottom: 15px;
}

div.details-spacing {
 margin-bottom: 10px;
}

div.prof-exp-chunk {
 display: block; 
 width: 200px;
}

div#header {
 text-decoration: none;
}

div.resume-text {
 padding-left: 300px;
 padding-right: 221px;
 padding-top: 15px;
 line-height: 1.5;
}

div#contact {
 padding-left: 20px;
}

div.p-text {
 padding-left: 20px;
 padding-right: 221px;
 padding-top: 15px;
 line-height: 1.5;
}

img.portfolio {
 margin-left: 300px;
 border: 1pt solid;
 margin-bottom: 20px;
}

h3.portfolio {
 font-size: 18pt;
 margin-left: 300px;
 margin-bottom: 20px;
 margin-top: 38px;
}

h4.portfolio {
 font-size: pt;
 margin-left: 300px;
 margin-bottom: 15px;
 margin-top: 37px;
}

p.portfolio {
 margin-left: 300px;
 margin-right: 221px;
 margin-bottom: 300px;
 margin-top: 37px;
 line-height: 1.5;
}

div.portfolio-sub{
 margin-left: 300px;
 margin-right: 320px;
 margin-bottom:;
 line-height: 1.5;
}

a.portfolio {
 margin-left: 300px;
 margin-bottom: 10px;
 }
 
p.sub-sub {
 margin-top: 10px;
 margin-bottom: 300px;
}

div.scroll-space {
 margin-bottom: 300px;
}

div#soundcloud {
 margin-top: 20px;
 margin-left: 300px;
}

div#soundcloud-sub {
 margin-top: 20px;
}

div#soundcloud-link {
 margin-top: 10px;
}

p.press-release {
 margin-left: 300px;
 margin-right: 221px;
 margin-bottom: 10px;
 line-height: 1.5;
}

div.twenty-px-top {
 margin-top: 25px;
}

div#header ul.accessibility {
 position: absolute;
 left: -10000px;
}